<template name="requests">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Notifications
    {{#if requestCount}}
      <span class="badge badge-inverse">{{requestCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="request dropdown-menu">
    {{#if hasRequests}}
      {{#each getRequests}}
        {{> request}}
      {{/each}}
    {{else}}
      <li><a href="#">No Notifications</a></li>
    {{/if}}
  </ul>
</template>

<template name="request">
  <li>
    <a data-toggle="modal" data-target="#request-myModal">
      <strong>{{fromName}}</strong> {{getMessage}}
    </a>
  </li>
</template>

<template name="contactRequestModal">
<!-- Modal -->
<div class="modal fade" id="request-myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Notifications</h4>
      </div>
      <div class="modal-body">
        {{> requestList}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</template>
