<template name="viewProject">
  <div class="js-masonry container" data-masonry-options='{ "itemSelector": ".project-panel" }'>
    <div class="row">
      <div class="col-xs-12">
        <h1>{{name}}</h1>
      </div>
      {{#if isOwner}}
      <div class="col-xs-12">
          <a href="{{pathFor 'editProject'}}" type='button' class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit Project</a>
      </div>
      {{/if}}
    </div>
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div class="panel panel-default project-panel">
          <div class="panel-heading">
            <h5 class="panel-title">Description</h5>
          </div>
          <div class="panel-body">
            <p>{{description}}</p>
          </div>
        </div>
        <div class="panel panel-default project-panel">
          <div class="panel-heading">
            <h5 class="panel-title">Contributors</h5>
          </div>
          <div class="panel-body">
            <ul class="list-inline">
              {{#each owners}}
                <li class="profile-link" href="{{pathFor 'viewProfile'}}"><b>{{name}}</b></li>
              {{/each}}
              {{#each members}}
                <li class="profile-link" href="{{pathFor 'viewProfile'}}">{{name}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="panel panel-default project-panel">
          <div class="panel-heading">
            <h5 class="panel-title">Keywords</h5>
          </div>
          <div class="panel-body">
            {{#each keywords}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        </div>
        {{#if hasNeeds}}
        <div class="panel panel-default project-panel">
          <div class="panel-heading">
            <h5 class="panel-title">Project Needs</h5>
          </div>
          <div class="panel-body">
            {{#each needs}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
