<template name="viewProfile">
{{#if currentUser}}
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="media">
          <a class="pull-left" href="#">
          {{#if hasPicture}}
            <img class="media-object img-thumbnail" id="prof-pic" src="{{profile.picture}}" style="max-width: 300px; max-height: 140px" alt="Picture Not Available">
          {{else}}
            <img class="media-object img-thumbnail" id="prof-pic" src="http://placehold.it/140x140" alt="Image Placeholder">
          {{/if}}
          </a>
          <div class="media-heading">
            <h1>{{profile.name}}</h1>
            <h4>{{profile.title}} at {{profile.company}}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        {{#if isMe}}
        <div class="pull-right">
          <a type="button" class="btn btn-primary" href="{{pathFor 'editProfile'}}"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="row">
      {{> listProjects}}
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">Skills</h5>
          </div>
          <div class="panel-body">
            {{#each profile.skills}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">Interests</h5>
          </div>
          <div class="panel-body">
            {{#each profile.interests}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{> listContacts}}
    </div>
  </div>
{{else}}
  {{> pleaseLogIn}}
{{/if}}
</template>

