<template name="viewProfile">
{{#if _id}}
{{#if currentUser}}
{{setTitle "PMP - Profile of " profile.name}}
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="media">
          <a class="pull-left" href="#">
          {{#if hasPicture}}
            <img class="media-object img-thumbnail" id="prof-pic" src="{{profile.picture}}" style="max-width: 300px; max-height: 140px" alt="Picture Not Available">
          {{else}}
            <img class="media-object img-thumbnail" id="prof-pic" src="http://placehold.it/140x140" alt="Image Placeholder">
          {{/if}}
          </a>
          <div class="media-heading">
            <h1>{{profile.name}}</h1>
            <h4>{{profile.title}} at {{profile.company}}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        {{#if isMe}}
          <div class="pull-right">
            <a type="button" class="btn btn-primary" href="{{pathFor 'editProfile'}}"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a>
          </div>
        {{else}}
          <div class="pull-right">
            {{#if notContact}}
              {{#if notPending}}
                <a type="button" class="btn btn-primary" href="#" id="addContact"><span class="glyphicon glyphicon-plus"></span> Add
                  Contact</a>
              {{else}}
                <a type="button" class="btn btn-success" href="#"><span class="glyphicon glyphicon-ok"></span> Sent
                  Request</a>
              {{/if}}
            {{else}}
              <a type="button" class="btn btn-primary" href="#" id="removeContact"><span class="glyphicon glyphicon-minus"></span> Remove
                Contact</a>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">Projects</h5>
          </div>
          <div class="panel-body">
            {{#each profile.ownedProjects}}
              <p class="project-link"><b>{{name}} - Owner</b></p>
            {{/each}}
            {{#each profile.collaborations}}
              <p class="project-link">{{name}} - Member</p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">Skills</h5>
          </div>
          <div class="panel-body">
            {{#each profile.skills}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">Interests</h5>
          </div>
          <div class="panel-body">
            {{#each profile.interests}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {{> listContacts}}
      </div>
    </div>
  </div>
{{else}}
  {{> pleaseLogIn}}
{{/if}}
{{else}}
  {{> error404}}
{{/if}}
</template>

