<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<template name="home_default">
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1>Welcome to PMP</h1>
        <h2>The Project Management Project</h2>
        <p>Using this site you can easily organize and collaborate on your current projects. You can also find new potential collaborations by searching for projects that match up with your skills.</p>
        {{#unless currentUser}}
        <p>Log in and create your profile to get started!</p>
        {{/unless}}
        <!--<p>
          <a class="btn btn-primary btn-lg" role="button">Learn more</a>
        </p>-->
      </div>
    </div>
  </div>
  {{#if currentUser}}
  {{#if profileNotComplete}}
  <div class="alert alert-warning">
    <p>
      Your profile is not complete. Click <a href="{{pathFor 'editProfile'}}">here</a> to edit
    </p>
  </div>
  {{/if}}
  <div class="row">
    <div class="col-md-4">
      {{> searchUserForm}}
    </div>
  </div>
  {{/if}}
</template>
