<template name="home_default">
  {{#if currentUser}}
    {{#if profileNotComplete}}
      <div class="alert alert-warning">
        <p>Your profile is not complete. Click <a href="{{pathFor 'editProfile'}}">here</a> to edit</p>
      </div>
    {{/if}}
    <div class="row">
      <div class="col-md-4">
        {{> searchUserForm}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{> listProjects}}
      </div>
      <div class="col-md-6">
        {{> listContacts}}
      </div>
    </div>

  {{else}}
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1>Welcome to OUR PROJECT NAME</h1>
        <p>Some Text to introduce our project</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
  {{/if}}
</template>
